*{
    margin: 0px;
    padding: 0px;
}
/* .visa{
    color: rgb(255, 0, 55);
    cursor: cell;
} */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    border: 1px solid red;
}
.box{
    padding: 20px;
    background-color: brown;
    color: aliceblue;
    width: 110px;
}
.box2{
    background-color: rgb(142, 158, 2);

}
.box3{
    background-color: blue;
}